<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1794488990/photo/pdf-button-on-screen-laptop-computer-converting-process-of-document-to-another-format-convert.webp?b=1&s=170667a&w=0&k=20&c=MdEUzb0CkyjZEKp-x3UbS7X5wZaawXaz-x31PiQ7jys=" class="card-img-top" alt="Placeholder image" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Email Extractor</h5>
                        <p class="card-text">Retrieve the main content of the mail chains and get a summarized view.</p>
                        <a href="summarizer" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1794488990/photo/pdf-button-on-screen-laptop-computer-converting-process-of-document-to-another-format-convert.webp?b=1&s=170667a&w=0&k=20&c=MdEUzb0CkyjZEKp-x3UbS7X5wZaawXaz-x31PiQ7jys=" class="card-img-top" alt="Placeholder image" style="max-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Admin Data</h5>
                        <p class="card-text">Track Admin Activity</p>
                        <a href="admin" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>